<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$ - Temporal bank- $</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="">
        <a class="navbar-brand" href="/">
            <img src="https://docs.temporal.io/img/temporal-logo-dark.svg" width="140" height="35">
        </a>
        <a class="navbar-brand" href="/accounts"> Accounts</a>
        <a class="navbar-brand" id="pa_info" href="/pending-approvals"> <span id="pa_count"></span> Pending approvals
        </a>
    </div>
</nav>


<div role="main" class="container">


    <br/>
    <br/>


    <div id="tableContainer">

        <br/>

        <div  th:if="${msg != null}" class="alert alert-secondary" role="alert">
            <span th:text="${msg}"></span>
        </div>

        <br/>

        <a role="button" href="/accounts/new"> New Account</a>

        <br/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    <a href="http://localhost:8233/namespaces/default/workflows"
                       target="_blank"><img src="temporal.png" alt="Temporal.io" width="15" height="15"></a>Temporal-WorkflowId
                </th>
                <th scope="col">Account Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Balance</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="accountInfo: ${accounts}">
                <td>
                    <a th:href="@{'http://localhost:8233/namespaces/default/workflows/' + ${accountInfo.workflowId()}}"
                       target="_blank">
                        <img src="temporal.png" alt="Temporal.io" width="15" height="15">
                    </a>
                    <span th:text="${accountInfo.workflowId()}"></span>
                </td>
                <td th:text="${accountInfo.accountSummary().account().accountId()}"/>
                <td th:text="${accountInfo.accountSummary().account().customerName()}"/>
                <td th:text="${accountInfo.accountSummary().account().balance()}"></td>
                <td>
                    <a href="#" id="solution0" th:attr="onclick=|showDetails('${accountInfo.workflowId()}')|">Show
                        details </a> <br>
                    <div hidden th:id="${accountInfo.workflowId()}">
                        <h3 th:text="'AccountId: ' + ${accountInfo.workflowId()}"/>
                        <h5 th:text="'Amount: ' + ${accountInfo.accountSummary().account().balance()}"/>
                        <ul>
                            <li th:each="operation: ${accountInfo.accountSummary().operations()}"
                                th:text="${operation.transferResponse().toString()}">
                        </ul>
                    </div>
                </td>
                <td>
                    <a th:if="${accountInfo.status == 'Open'}"
                       th:href="@{'/transfer-request/' + ${accountInfo.accountSummary().account().accountId()}}">Request
                        transfer</a>
                </td>
                <td>
                    <a th:if="${accountInfo.status == 'Open'}"
                       th:href="@{'/accounts/' + ${accountInfo.accountSummary().account().accountId()} +'/close'}">Close
                        account</a>
                </td>


            </tr>

            </tbody>
        </table>
    </div>


    <div id="details">
        <div id="accountDetails" hidden></div>
        <div id="closeDetails" hidden>
            <a href="#" th:attr="onclick=|closeDetails()|">Back </a> <br>
        </div>
    </div>


</div>

<script type="text/javascript" th:src="@{/bootstrap-5.0.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

<script>
    function showDetails(id) {

        const details = document.getElementById(id).innerHTML;
        document.getElementById("accountDetails").innerHTML = details
        document.getElementById("tableContainer").hidden = true;
        document.getElementById("closeDetails").hidden = false;
        document.getElementById("accountDetails").hidden = false;
    }


    function closeDetails() {
        document.getElementById("tableContainer").hidden = false;
        document.getElementById("closeDetails").hidden = true;
        document.getElementById("accountDetails").hidden = true;
    }
</script>
</body>
</html>