<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img src="https://docs.temporal.io/img/temporal-logo-dark.svg" width="140" height="35">
    <a class="navbar-brand" href="/accounts"> Accounts</a>
    <a class="navbar-brand" href="/accounts-new"> New account</a>

</nav>


<div role="main" class="container">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Temporal-WorkflowId</th>
            <th scope="col">AccountId</th>
            <th scope="col">CustomerId</th>
            <th scope="col">Amount</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="accountInfo: ${openAccounts}">
            <td th:text="${accountInfo.workflowId()}"/>
            <td th:text="${accountInfo.account().accountId()}"/>
            <td th:text="${accountInfo.account().customerId()}"/>
            <td th:text="${accountInfo.account().amount()}"></td>
            <td>
                <a th:href="@{'/transfer-request/' + ${accountInfo.account().accountId()}}">Transfer</a>
            </td>
            <td>
                <a href="">Close</a>
            </td>
        </tr>

        </tbody>
    </table>


    <a role="button" href="/accounts-new"> New Account</a>

</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>