<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$ - Temporal bank- $</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="">
        <a class="navbar-brand" href="/">
            <img src="https://docs.temporal.io/img/temporal-logo-dark.svg" width="140" height="35">
        </a>
        <a class="navbar-brand" href="/accounts"> Accounts</a>
        <a class="navbar-brand" href="/transfers"> Transfers</a>
        <a class="navbar-brand" id="pa_info" href="/pending-transfers"> <span id="pa_count"></span> Pending transfers
        </a>
    </div>
</nav>


<div role="main" class="container">


    <br/>
        <div  th:if="${msg != null}" class="alert alert-secondary" role="alert">
            <span th:text="${msg}"></span>
        </div>
    <br/>


    <div id="tableContainer">


        <br/>
        <br/>
        <b>Pending operations </b>
        <a class="view-ui" href="http://localhost:8233/namespaces/default/workflows?query=WorkflowType%3D%22MoneyTransferWorkflow%22+and+ExecutionStatus%3D%22Running%22+and+TransferRequestStatus%3D%22ApprovalRequired%22"
           target="_blank">View in Temporal UI</a>

        <table class="table">
            <thead>
            <tr>

                <th scope="col">
                    Temporal-WorkflowId
                </th>
                <th scope="col">Request summary</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="pendingApproval: ${pendingRequests}">
                <td>
                    <span th:text="${pendingApproval.workflowId()}"></span>
                    <a  class="view-ui" th:href="@{'http://localhost:8233/namespaces/default/workflows/' + ${pendingApproval.workflowId()}}"
                        target="_blank">View in Temporal UI
                    </a>
                </td>

                <td th:text="${pendingApproval.toString()}"/>
                <td>
                    <a th:href="@{'/pending-transfers/' + ${pendingApproval.workflowId()}+'/approve' }">Approve
                        operation</a>
                </td>
                <td>
                    <a th:href="@{'/pending-transfers/' + ${pendingApproval.workflowId()}+'/deny' }">Deny operation</a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>


</div>


<script type="text/javascript" th:src="@{/bootstrap-5.0.2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>


</body>
</html>